.footer {
    font-family: 'Libre Franklin Variable', sans-serif;
    display: flex;
    justify-content: space-between;
    background-color: #DEDBD2;
    border-style: solid;
    border-color: #4A5759;
    border-width: 20px;
}

.links,
.socials {
    border-collapse: collapse;
}

.links a {
    color: #000000;
}

.right {
    display: flex;
    align-items: center;
}

.socials th {
    text-align: center;
    font-size: 16px;
    font-style: bold;
    color: black; 
}

.socials td {
    padding: 2px;
}

.socials a {
    margin-right: 10px;
}

img {
    height: auto;
    width: 2em;
}