#root {
  max-width: 1280px;
  margin: 0px;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: inherit;
  padding: 0.5em;
  margin-left: 0;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ffbdca);
}
.borderDiv1 {
  border: solid #B0C4B1 0.5em;
  padding: 1em;
}

.colorDiv1 {
  background: #B0C4B1;
}

.colorDiv2 {
  background: #F7E1D7;
}

.spaceFormattedDiv {
  white-space: pre-wrap;
  text-align: left;
}

.squareImg {
  border-radius: 5%;
  border: 2px black solid;
}


div.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 20em;
}

.caption {
  display: block;
}