#root {
  max-width: 1280px;
  margin: 0px;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 3em;
  padding: 0.5em;
  margin-left: 0;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ed8c9a);
}
.borderDiv1 {
  border: solid #B0C4B1 0.5em;
  white-space: pre-wrap;
  text-align: left;
  padding: 1em;
}

.colorDiv1 {
  background: #B0C4B1;
}

.colorDiv2 {
  background: #F7E1D7;
}